# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
trim_trailing_white_space_on_save = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

# Tab indentation (no size specified)
[client/apps/**/*.js]
indent_style = tab
indent_size = 4

# Indentation override for all JS under lib directory
[{client/systems/bower_components/**/*.js,client/systems/utilities/**/*.js}]
indent_style = tab
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,Gruntfile.js,server/server.js,client/config/.csslintrc,client/config/.htmlhint-n-rc,client/config/.htmlhint-t-rc,client/config/.jscsrc,client/config/.jshintrc,client/config/build.js,client/config/servefiles.json}]
indent_style = tab
indent_size = 4