<footer class="text-xs-center">
  <nav>
    <a href="//github.com/aw-stacks/aw-stack-2" target="_blank" class="btn btn-link btn-sm">Github Home Page</a>
    <a href="//github.com/aw-stacks/aw-stack-2/releases" target="_blank" class="btn btn-link btn-sm">Release Page</a>
    <a href="//github.com/aw-stacks/aw-stack-2/milestones" target="_blank" class="btn btn-link btn-sm">Milestones</a>
    <a href="//github.com/aw-stacks/aw-stack-2/issues" target="_blank" class="btn btn-link btn-sm">Report Issues</a>
    <a href="//github.com/aw-stacks/aw-stack-2/pulls" target="_blank" class="btn btn-link btn-sm">Open Pull Requests</a>
    <a href="//github.com/aw-stacks/aw-stack-2" target="_blank" class="btn btn-link btn-sm">About aw-stack-2</a>
  </nav>
</footer>
