<footer class="text-xs-center">
  <nav>
    <a href="//github.com/nodemyadmin/nodemyadmin" target="_blank" class="btn btn-link btn-sm">Github Home Page</a>
    <a href="//github.com/nodemyadmin/nodemyadmin/releases" target="_blank" class="btn btn-link btn-sm">Release Page</a>
    <a href="//github.com/nodemyadmin/nodemyadmin/milestones" target="_blank" class="btn btn-link btn-sm">Milestones</a>
    <a href="//github.com/nodemyadmin/nodemyadmin/issues" target="_blank" class="btn btn-link btn-sm">Report Issues</a>
    <a href="//github.com/nodemyadmin/nodemyadmin/pulls" target="_blank" class="btn btn-link btn-sm">Open Pull Requests</a>
    <a href="//github.com/nodemyadmin/nodemyadmin" target="_blank" class="btn btn-link btn-sm">About nodemyadmin</a>
  </nav>
</footer>
