<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a class="navbar-brand" href="{{linkTo}}" title="{{name}} v{{version}} Alpha">{{name}} <sup><small>v{{version}} Alpha</small></sup></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul ng-repeat="nav in navbar.navItems" class="nav navbar-nav">
        <li ng-if="!nav.subItems"><a href="{{nav.linkTo}}" title="{{nav.label}}">{{nav.label}}</a></li>
        <li ng-if="nav.subItems" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-controller="NavbarCtrl" ng-click="openSubItems($event)">{{nav.label}}</a>
          <ul class="dropdown-menu">
            <li ng-repeat="subnav in nav.subItems" ng-controller="NavbarCtrl" ng-click="closeSubItems($event)">
              <a href="{{subnav.linkTo}}" title="{{subnav.label}}">{{subnav.label}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a class="navbar-brand" href="#" title="nodemyadmin v0.0.0 Alpha">nodemyadmin <sup><small>v0.0.0 Alpha</small></sup></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" title="Home"><i class="fa fa-lg fa-home"></i></a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="Developers Connection"><i class="fa fa-connectdevelop fa-lg"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a title="Take a Tour" href="#">Take a Tour</a>
            </li>
            <li>
              <a title="What's New" href="#">What's New</a>
            </li>
            <li class="divider"></li>
            <li>
              <a title="API Explorer" href="#" target="_blank">API Explorer</a>
            </li>
            <li>
              <a title="Documentation" href="#" target="_blank">Documentation</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="More Information, Help etc.">
            <i class="fa fa-lg fa-life-saver"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a title="Github Home Page" href="//github.com/hegdeashwin/nodemyadmin" target="_blank">Github Home Page</a>
            </li>
            <li>
              <a title="Gitbook Page" href="#" target="_blank">Gitbook Page</a>
            </li>
            <li class="divider"></li>
            <li>
              <a title="Release Page" href="//github.com/hegdeashwin/nodemyadmin/releases" target="_blank">Release Page</a>
            </li>
            <li>
              <a title="Milestones" href="//github.com/hegdeashwin/nodemyadmin/milestones" target="_blank">Milestones</a>
            </li>
            <li class="divider"></li>
            <li>
              <a title="Issues Page" href="//github.com/hegdeashwin/nodemyadmin/issues" target="_blank">Issues Page</a>
            </li>
            <li>
              <a title="Open Pull Requests" href="//github.com/hegdeashwin/nodemyadmin/pulls" target="_blank">Open Pull Requests</a>
            </li>
            <li class="divider"></li>
            <li>
              <a title="About nodemyadmin" href="//github.com/hegdeashwin/nodemyadmin" target="_blank">About nodemyadmin</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
