.btn,
.dropdown-menu,
.navbar,
.breadcrumb,
.pagination,
.container .jumbotron,
.container-fluid .jumbotron,
.alert,
.progress,
.list-group-item,
.panel,
.modal-content,
.nav-tabs>li>a,
.tooltip-inner,
.popover,
.panel-group .panel,
.dropdown-menu,
.form-control,
.panel-heading,
.thumbnail {
  border-radius: 0;
}

.btn-primary {
	background-color: #4b637d;
}

.btn-success {
	background-color: #6AA53B;
}

.navbar-inverse {
	background-color: #332C2F;
}

.breadcrumb {
  background-color: #ffffff;
}

.tab-pane {
  padding: 20px 0;
}

.nav-tabs>li.active {
  border-top: 2px solid #2CC0B3;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  cursor: pointer;
  color: #04B4AE;
}

.jumbotron h1 {
  font-size: 38px;
}

.container .jumbotron .alert p {
  font-size: 14px;
}

.jumbotron .social-group a {
  padding: 5px;
}

.jumbotron p.social-group {
  margin-top: 25px;
}

.jumbotron ul {
    font-size: 21px;
}

hr {
    border-color: #c6c6c6;
}
