<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default sign-in-page">
      <div class="panel-heading">
        <h3 class="panel-title">Sign into your MySQL account</h3>
      </div>
      <div class="panel-body">
        <div uib-alert close="signin.closeAlert()" ng-show="hasError" ng-class="'alert alert-' + (alert.type)">{{alert.msg}}</div>
        <form name="authForm" novalidate ng-submit="signin.submitCredentials(authForm.$valid)">
          <div class="form-group">
            <label for="username">Username</label>
            <input id="formUsername" ng-model="formUsername" type="text" required name="formUsername" ng-minlength="4" ng-maxlength="25" class="form-control" placeholder="E.g. ashwin"/>
            <div ng-show="authForm.$submitted">
              <p class="bg-danger text-danger inline-error-message" ng-show="authForm.formUsername.$error.required">Username is required</p>
              <p class="bg-danger text-danger inline-error-message" ng-show="authForm.formUsername.$error.minlength">Username must be at least 4 characters long</p>
              <p class="bg-danger text-danger inline-error-message" ng-show="authForm.formUsername.$error.maxlength">Username cannot exceed 25 characters long</p>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="formPassword" required type="password" name="formPassword" class="form-control" ng-minlength="4" ng-maxlength="255" id="formPassword" placeholder="Minimum six characters long">
            <div ng-show="authForm.$submitted">
              <p class="bg-danger text-danger inline-error-message" ng-show="authForm.formPassword.$error.required">Password is required</p>
              <p class="bg-danger text-danger inline-error-message" ng-show="authForm.formPassword.$error.minlength">Password must be at least 4 characters long</p>
              <p class="bg-danger text-danger inline-error-message" ng-show="authForm.formPassword.$error.maxlength">Password cannot exceed 255 characters long</p>
            </div>
          </div>
          <input type="submit" class="btn btn-default" value="Sign In" />
          <a href="help?signin" class="btn btn-success">Help</a>
        </form>
      </div>
    </div>
  </div>
</div>
